.images-pano-tool-button-autorotate {
  css-float: left;
  box-sizing: inherit;
  padding: 10px;
  position: relative;
  cursor: pointer;
  .images-pano-tool-button-autorotate-sphere {
    box-sizing: inherit;
    border-radius: 50%;
  }
  .images-pano-tool-button-autorotate-equator {
    position: absolute;
    top: 50%;
    box-sizing: inherit;
    border-radius: 50%;
  }
}