.images-pano-tool-zoom-button {
  css-float: left;
  box-sizing: inherit;
  .images-pano-tool-zoom-minus {
    css-float: left;
    box-sizing: inherit;
    padding: 10px;
    cursor: pointer;
  }
  .images-pano-tool-zoom-plus {
    css-float: left;
    box-sizing: inherit;
    padding: 10px;
    cursor: pointer;
  }
  .images-pano-tool-zoom-range-bg {
    css-float: left;
    box-sizing: inherit;
    cursor: pointer;
  }
  .images-pano-tool-zoom-range {
    position: relative;
    box-sizing: inherit;
  }
  .images-pano-tool-zoom-value {
    position: absolute;
    border-radius: 50%;
    box-sizing: inherit;
  }
}